body {
  background-color: black;
}

img {
  max-width: 100%;
}

/******************
Utility Classes
******************/
:root {
  --text-white: #e2e2e2;
  --text-mint: #67d0b0;
  --twitch-purple: #6441a4;
}

/******************
Utility Classes
******************/

.container-fluid {
  padding: 0;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.bg-blue-purple-gradient {
  background-color: var(--twitch-purple);
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to left rgba(74, 0, 224, 0.45), rgba(142, 45, 226, 0.45)), url('../public/now-playing-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
}
